<div class="container-fluid">
  <% if (msg !== '') {%>
  <div class="row">
    <div class="col-4"></div>
    <div class="alert alert-success text-center col-4" role="alert"><%= msg %></div>
    <div class="col-4"></div>
  </div>
  <% } %>

  <div class="row">
    <div class="col"></div>
    <div class="col-4 border bg-light rounded">
      <br />
      <h5 align="center" class="table-striped navbartext">UPDATE STUDIO</h5>
      <br />
      <br />
      <form class="row g-3" method="post" action="/api/studios/update/<%= resStd[0].id %> ">
        <div class="col-12">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" name="name" value="<%= resStd[0].name %>" />
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
          <a href="/api/studios" class="btn btn-outline-primary">Cancel</a>
        </div>
      </form>
      <br />
    </div>
    <div class="col"></div>
  </div>
</div>
