<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand navbarlogo">iMovies XXI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbartext">
        <li class="nav-item">
          <a class="nav-link" href="/users">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#add">REDEEM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/ticket">TICKET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/profil">USERS</a>
        </li>
      </ul>
      <ul class="navbar-nav navbartext">
        <li class="nav-item">
          <h2 class="nav-link navbartext">Rp <%= balance %> ,-</h2>
        </li>
        <li class="nav-item">
          <h2 class="nav-link" href="/">|</h2>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br />
