<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 border bg-light rounded">
      <div class="row">
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-clapperboard card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/movies" class="btn navbartext btn-outline-primary">MOVIES</a></h5>
              <p class="card-text">Manage all movies data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-users card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/users" class="btn navbartext btn-outline-primary">USERS</a></h5>
              <p class="card-text">Manage all users data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-cart-plus card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/vouchers" class="btn navbartext btn-outline-primary">VOUCHERS</a></h5>
              <p class="card-text">Manage all vouchers data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-calendar-check card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/schedules" class="btn navbartext btn-outline-primary">SCHEDULES</a></h5>
              <p class="card-text">Manage all schedules data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-person-booth card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/studios" class="btn navbartext btn-outline-primary">STUDIOS</a></h5>
              <p class="card-text">Manage all studios data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
        <div class="col-md-2 my-3">
          <div class="card text-center cardsize">
            <div class="gambar">
              <br /><br /><br /><br /><br />
              <i class="fa-solid fa-seat-airline card-img-top fonticon"></i>
              <i class="fa-solid fa-chair card-img-top fonticon"></i>
            </div>
            <div class="row card-body">
              <h5 class="card-title"><a href="/api/seats" class="btn navbartext btn-outline-primary">SEATS</a></h5>
              <p class="card-text">Manage all seats data.</p>
            </div>
          </div>
        </div>
        <!-- skat -->
      </div>
      <br />
    </div>
    <div class="col"></div>
  </div>
</div>
