<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand navbarlogo">iMovies XXI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbartext">
        <li class="nav-item">
          <a class="nav-link" href="/api">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/movies">MOVIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/users">USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/vouchers">VOUCHERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/schedules">SCHEDULES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/studios">STUDIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/seats">SEATS</a>
        </li>
      </ul>
      <span class="navbar-text"> Bootcamp Online Flutter CODE.ID </span>
      <span class="navbar-text navbarlogo">|</span>
      <ul class="navbar-nav navbartext">
        <li class="nav-item">
          <a class="nav-link" href="/">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br />
